/*------------------------------------*\
    $TABS
\*------------------------------------*/

.tab{
  display: none;

  .no-js &, &.is-active{
    display: block;
  }
  @media print {
    & {
      display: block;
    }
  }
}
